.App {
  font-family: "Roboto", sans-serif;
}

.z-10 {
  z-index: 10;
}

.title-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.aside {
  width: 30%;
  float: left;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  width: 70%;
  float: right;

  .card {
    background: rgba(255, 255, 255, 0.46);
    border-radius: 20px;
    margin: 1rem;
    padding: 1rem;
    cursor: pointer;

    span {
      margin-right: 1rem;
    }
  }
}
.flex {
  display: flex;
}

.blog-spacer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.pt {
  padding-top: 5rem;
}

.center {
  text-align: center;
}

.pt-6 {
  padding-top: 6rem;
}

.mt-form {
  margin-top: 5rem;
}

.m-success {
  margin: 7rem 3rem 5rem 3rem;
}

.m-0 {
  margin: 0;
}

.logo {
  height: 3rem;
}

.title-container {
  text-align: center;
  .title {
    color: #fff;
    font-size: 4.5rem;
    text-shadow: -4px 3px 0 #000;
    padding: 0 1rem;
    .title-text {
      color: rgb(250, 221, 92);
    }
  }
  .go-down {
    color: rgb(250, 221, 92);
    font-size: 4rem;
  }
}

.main-card {
  height: 500px;
}

.modal-exit {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: rgb(250, 221, 92);
  position: absolute;
  top: 2rem;
  right: 4rem;
  outline: none;

  &:hover {
    color: darken($color: rgb(250, 221, 92), $amount: 10);
    transform: scale(1.5);
    transition: ease-in 0.2s;
  }
}

.modal-menu {
  list-style: none;
  padding: 1rem;
  // font-family: Nunito;

  li {
    padding: 1.5rem;
    font-size: 2rem;

    &:hover {
      color: darken($color: rgb(250, 221, 92), $amount: 10);
      background-color: rgba(240, 240, 240, 0.295);
      transform: scale(1.1);
      transition: ease-in-out 0.2s;
    }

    a {
      color: #000;
      text-decoration: none;
      &:hover {
        color: darken($color: rgb(250, 221, 92), $amount: 10);
      }
    }
  }
}

.rounded {
  background-color: rgba(255, 255, 255, 0.46);
  padding: 3rem;
  display: flex;
  justify-content: center;
  border-radius: 33px;
  flex-direction: column;

  .buttonContainer {
    display: flex;
    justify-content: space-between;

    .mr-1 {
      margin-right: 1rem;
    }
  }

  .success-icon {
    font-size: 10rem;
    color: green;
    text-align: center;
    width: 100%;
  }
  .success-message {
    font-size: 1.2rem;
    line-height: 1.1rem;
    font-weight: bold;
  }
  .center {
    text-align: center;
  }
}

.article-wrapper {
  padding-bottom: 4rem;

  .article {
    margin: 2rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.644);

    .justified-text {
      text-align: justify;

      p,
      ul,
      ol {
        font-size: 1rem;
      }

      .red {
        color: red;
      }

      .underline {
        text-decoration: underline;
      }

      .author {
        font-weight: bold;
      }
    }
  }
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column {
  flex-direction: column;
}

.go-back {
  padding-top: 7rem;
  padding-left: 1.5rem;
}

.go-back-bottom {
  padding-bottom: 3rem;
  padding-left: 1.5rem;
}

.link {
  text-decoration: none;
}

.action-btn {
  border: #000 2px;
}

@media (max-width: 600px) {
  .title {
    font-size: 2.5rem !important;
  }

  .rounded {
    margin-top: 1rem;
    padding: 2rem;
  }

  .m-success {
    margin: 7rem 0.5rem 2rem 0.5rem;
  }

  .modal-menu {
    li {
      font-size: 1.5rem;
      padding: 0.5rem;
    }
  }

  .mt-form {
    margin-top: 8rem;
  }
}
