.App {
  font-family: "Roboto", sans-serif;
}

.modal-exit {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  color: rgb(250, 221, 92);
  position: absolute;
  top: 2rem;
  right: 2rem;
  outline: none;

  &:hover {
    color: darken($color: rgb(250, 221, 92), $amount: 10);
    transform: scale(1.5);
    transition: ease-in 0.2s;
  }
}

.modal-menu {
  list-style: none;
  padding: 1rem;

  li {
    padding: 1.5rem;
    font-size: 2rem;
    &:hover {
      color: darken($color: rgb(250, 221, 92), $amount: 10);
    }
  }
}
